---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="404 Error">
    <div class="text-center">
        <h1 class="m-auto text-5xl text-center font-mono">404</h1>
        <p class="text-3xl">You just broke the Matrix...</p>
        <a href="/"
            ><button class="btn btn-outline btn-primary my-8">return home</button></a
        >
    </div>
</BaseLayout>
