---
import githubLogo from '../../public/github.svg'
---

<footer class="footer footer-center p-10 bg-primary text-primary-content mt-8">
    <aside>
      <p>
        Damian Farinaccio {new Date().getFullYear()}
      </p> 
    </aside> 
    <nav>
      <div class="grid grid-flow-col gap-4">
        <a href="https://github.com/DF98" target="_blank"><img src={githubLogo.src}/></a>
      </div>
    </nav>
  </footer>