---
import Navigation from "../components/Navigation.astro";
import MobileNav from "../components/MobileNav.astro";
import Footer from "../components/Footer.astro";

const title: Record<'title',string> = Astro.props
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{title.title}</title>
    </head>
    <body>
        <div class="h-screen">
        <MobileNav/>
        <Navigation />
        <slot />
        <Footer />
        </div>
    </body>
</html>
